.todo-list {
  width: 60%;
  margin: 0 auto !important;
  border-radius: 2px;
  &__item {
    display: flex;
    &:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    &:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &__done-checkbox {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    &__todo-value {
      font-size: 1.2rem;
      flex: 1 0 60%;
    }
    &__delete-todo {
      flex: 0 0 5%;
      display: block;
      width: 5%;
      cursor: pointer;
      transition: .3s ease-out;
      text-decoration: none;
      color: #fff;
      background-color: #26a69a;
      text-align: center;
      letter-spacing: .5px;
      font-size: 1.5rem;
      outline: 0;
      border: none;
      border-radius: 10px;
      height: 36px;
      line-height: 36px;
      text-transform: uppercase;
      &:hover {
        background-color: #2bbbad;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
        0 1px 7px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.completed {
  text-decoration: line-through;
  color: #757575;
  font-size: 1rem;

}
.todo-list__item__done-todo {
  color: #2bbbad;
  margin-right: 10px;
}
.todo-list__item__edit-todo {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .todo-list{
    width: auto;
  }
}