.input-form {
  width: 50%;
  margin: 50px auto;
  &__input-wrapper {
    border-radius: 2px;
    border: 1px solid #ebebeb;
    padding: 10px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, .3);
    &:focus {
      outline: none !important;
    }
  }
  &__input-field {
    font-size: 20px !important;
    border: none !important;
    width: 100% !important;
    height: 30px !important;
    vertical-align: middle !important;
    text-align: center !important;
    &:focus {
      outline: none !important;
      box-shadow: none !important;
      &::placeholder {
        color: transparent !important;
      }
    }
  }
  &__submit-btn {
    display: block !important;
    margin: 20px auto;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .input-form{
    width: auto;
  }
}